/* Dit is de css code voor een carousel */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


  /* Tooltip */
.tooltip > .tooltip-inner {
    background-color: #337ab7; 
    color: #FFFFFF; 
    border: 1px solid #337aaa;
    padding: 15px;
    font-size: 20px;
}

/* Popover */
.popover {
    /*border: 2px solid #337aaa;*/
}

/* Popover Header */
.popover-title {
    background-color: #337ab7;  
    color: #FFFFFF; 
    font-size: 28px;
    text-align:center;
}

/* Popover Body */
.popover-content {
    background-color: #ffffff;
    padding: 25px;
}

