/* Dit is de css code voor een carousel */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


  /* Tooltip */
.tooltip > .tooltip-inner {
    background-color: #337ab7; 
    color: #FFFFFF; 
    border: 1px solid #337aaa;
    padding: 15px;
    font-size: 20px;
}